Open and read data

In [2]:
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
class LoadDataset:
    """ 
    passing the raw dataset file path as a dependency
    """
    def __init__(self, raw_file_path):
        self.raw_file_path = raw_file_path

    def read_file(self):
        """
        handling file existence, empty dataset, and parsing errors
        """
        try:
            return pd.read_csv(self.raw_file_path, encoding="ISO-8859-1", engine='python')
        except FileNotFoundError:
            print("Error: The file was not found.")
        except pd.errors.EmptyDataError:
            print("Error: The file is empty.")
        except pd.errors.ParserError:
            print("Error: The file could not be parsed.")

In [5]:
class DataCleaner:
    
    def __init__(self, data):
        self.data = data


    """
    since 15% of rows contain null values, 
    they will be replaced with the mean (float and int value) and the mode (string values) instead of being dropped
    """
    
    def imputate_null_values(self):
        # Impute missing values with the mean for numerical columns
        try:
            for column in self.data.select_dtypes(include=['float64', 'int64']).columns:
                self.data[column].fillna(self.data[column].mean(), inplace=True)

        except Exception as e:
            print("Failed to replace imputate some numeric values {e}")
        
        # Impute missing values with the mode for string (categorical) columns
        try:
            for column in self.data.select_dtypes(include=['object']).columns:
                self.data[column].fillna(self.data[column].mode()[0], inplace=True)
        except Exception as e:
            print("Failed to replace imputate some alphabetic values {e}")
            
        return self.data


    def remove_duplicates(self):
        duplicate_mask = self.data.duplicated(subset=None, keep='first')
        duplicate_rows_num = duplicate_mask.sum()
        print(f"Number of duplicate rows found: {duplicate_rows_num}")
        
        # Remove duplicate rows
        data_cleaned = self.data.drop_duplicates()
        
        
        return data_cleaned

    def rename_headers(self):
        try:
            headers_replacements = {
            "make":"Brand",
            "sellingprice":"SellingPrice",
            "saledate":"SaleDate",
            }
            self.data.rename(columns=headers_replacements, inplace=True)
            
            self.data.columns = self.data.columns.str.capitalize()

            print("renamed headers successfully")
            return self.data

        except Exception as e:
            print(f"Failed to rename some header titles: {e}")

    
    def capitalise_headers(self):
        try:
            self.data.columns = self.data.columns.str.capitalize()
            print("capitalised headers sucessfully")
            return self.data

        except Exception as e:
            print(f"Failed to capitalise header titles: {e}")


    def validate_values(self):
        data_types = {
            "Year": "int64",
            "Brand": "object",
            "Model": "object",
            "Trim": "object",
            "Transmission":"object",
            "Vin": "object",
            "State":"object",
            "Condition":"float64",
            "Odometer":"float64",
            "Color":"object",
            "Interior":"object",
            "Seller":"object",
            "Mmr":"float64",
            "SellingPrice": "float64",
            "SaleDate": "object"
        }
        
        for column, d_type in data_types.items():
            if self.data[column].dtype != d_type:
                print(f"Validation failed for column '{column}'. Expected {d_type}, got {self.data[column].dtype}")
            else:
                print(f"Validation passed for column '{column}'. Expected {d_type}, got {self.data[column].dtype}")
                
                
    def save_changes(self):
            self.data.to_csv('../dataset/cleaned/cleaned_car_sales_data.csv', index=False)
            print("Cleaned data saved successfully!")
            return self.data

# Instantiating the classes and loading the dataset

In [7]:
if __name__ == "__main__":
    raw_file_path = '../dataset/raw/car_prices.csv'
    data_loader = LoadDataset(raw_file_path)
    data_content  = data_loader.read_file()

    data_cleaner = DataCleaner(data_content)
    
    
    if data_content is not None:
        print(data_content.columns)

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

# Getting the total number of rows

In [9]:
        number_of_rows = data_content.shape[0]
        print(number_of_rows)

558837

# Getting the total number of columns

In [11]:
            number_of_columns = data_content.shape[1]
            print(number_of_columns)

16

# Getting columns' data types

In [13]:
            print(data_content.dtypes)

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

# Some information about the dataframe

In [15]:
            print(data_content.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB
None

# describe() generates descriptive statistics

In [17]:
            print(data_content.describe())

                year      condition       odometer            mmr  \
count  558837.000000  547017.000000  558743.000000  558799.000000
mean     2010.038927      30.672365   68320.017767   13769.377495
std         3.966864      13.402832   53398.542821    9679.967174
min      1982.000000       1.000000       1.000000      25.000000
25%      2007.000000      23.000000   28371.000000    7100.000000
50%      2012.000000      35.000000   52254.000000   12250.000000
75%      2013.000000      42.000000   99109.000000   18300.000000
max      2015.000000      49.000000  999999.000000  182000.000000

        sellingprice
count  558825.000000
mean    13611.358810
std      9749.501628
min         1.000000
25%      6900.000000
50%     12100.000000
75%     18200.000000
max    230000.000000

# 15% of rows contain at least one null value

In [19]:
            # Count the number of null rows
            num_null_rows = data_content.isnull().any(axis=1).sum()
            # the formula
            percent_of_total_rows = int((num_null_rows/number_of_rows) * 100)
            
            print(f'Number of rows with at least one null value: {num_null_rows}/{number_of_rows}\n{percent_of_total_rows}% of rows contain null values')

Number of rows with at least one null value: 86512/558837
15% of rows contain null values

# There is no row with all null values

In [21]:
            # Count the number of null rows
            num_all_null_rows = data_content.isnull().all(axis=1).sum()
            # the formula
            percent_of_total_rows = int((num_all_null_rows/number_of_rows) * 100)
            
            print(f'Number of rows with all values as null: {num_all_null_rows}/{number_of_rows}\n{percent_of_total_rows}% of rows contain all null values')

Number of rows with all values as null: 0/558837
0% of rows contain all null values

# There is no column with all null values

In [23]:
            # Count the number of null columns
            num_all_null_columns = data_content.isnull().all(axis=1).sum()
            # the formula
            percent_of_total_cols = int((num_all_null_columns/number_of_columns) * 100)
            
            print(f'Number of columns with all values as null: {num_all_null_columns}/{number_of_columns}\n{percent_of_total_cols}% of rows contain all null values')

Number of columns with all values as null: 0/16
0% of rows contain all null values

# There are no duplicate rows

In [25]:
            cleaner = data_cleaner.remove_duplicates()

Number of duplicate rows found: 0

# Renaming the header titles

In [27]:
            cleaner = data_cleaner.rename_headers()

renamed headers successfully

# Capitalising the header titles

In [29]:
            cleaner = data_cleaner.capitalise_headers()
            print(f"New header titles: {cleaner.columns}")

capitalised headers sucessfully
New header titles: Index(['Year', 'Brand', 'Model', 'Trim', 'Body', 'Transmission', 'Vin',
       'State', 'Condition', 'Odometer', 'Color', 'Interior', 'Seller', 'Mmr',
       'Sellingprice', 'Saledate'],
      dtype='object')

# All values are of expected types

In [31]:
            cleaner = data_cleaner.validate_values()
            print(cleaner)

Validation passed for column 'Year'. Expected int64, got int64
Validation passed for column 'Brand'. Expected object, got object
Validation passed for column 'Model'. Expected object, got object
Validation passed for column 'Trim'. Expected object, got object
Validation passed for column 'Transmission'. Expected object, got object
Validation passed for column 'Vin'. Expected object, got object
Validation passed for column 'State'. Expected object, got object
Validation passed for column 'Condition'. Expected float64, got float64
Validation passed for column 'Odometer'. Expected float64, got float64
Validation passed for column 'Color'. Expected object, got object
Validation passed for column 'Interior'. Expected object, got object
Validation passed for column 'Seller'. Expected object, got object
Validation passed for column 'Mmr'. Expected float64, got float64
None

# Saving the changes after cleaning the data into a new file

In [52]:
        cleaner = data_cleaner.save_changes()

Cleaned data saved successfully!